{% extends "login.html" %}
{% load static %}

{% block head_css_section %}
    <link href="{% static 'util/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'wiki/css/wiki.css' %}" rel="stylesheet">

    <link href="{% static 'semantic/semantic.min.css' %}" rel="stylesheet">
{% endblock head_css_section %}

{% block title %} Create your new page {% endblock title %}

{% block body_main_1 %}
    {% if user.is_authenticated %}
        <div id="option_bar" class="content_block">
            <div id="change_template_button" class="ui button">
                Change Template
            </div>
            <div id="save_template_as_button" class="ui button">
                Save Template As ...
            </div>
        </div>
        <div class="content_block">
            <form id="new_post_form" class="ui form">
                {% csrf_token %}
                <div class="field">
                    <label class="required_label">Title</label>
                    <div class="ui input">
                        <input type="text" name="title"
                        placeholder="Title">
                    </div>
                </div>
            </form>
            <div class="ui dividing header"></div>

            <div id="new_post_form_footer">
                <div id="add_entry_button" class="ui button">
                    +
                </div>
                <div id="new_post_submit_button"
                     class="ui primary button">
                    Submit
                </div>
            </div>
        </div>
    {% else %}
        <div class="content_block">尚未登入!</div>
    {% endif %}

{% endblock body_main_1 %}

{% block footer_javascript_section %}
    <!-- <script src="{% static 'util/js/jquery.Jcrop.min.js' %}"></script> -->
    <script src="{% static 'wiki/js/posts.js' %}"></script>
    <script src="{% static 'semantic/semantic.min.js' %}"></script>>

    <script>
        $(document).ready(function() {
            Posts.init();
        });
    </script>
{% endblock footer_javascript_section %}
