#new_post_form_footer > div {
    padding: 10px;
    margin: 10px;
    display: block;
}

#new_post_submit {
    z-index: 1;
    background-color: #AAAAAA;
    text-align: center;
}

.entry_options button {
    margin: 10px;
}

#template_modal_1_content td:first-of-type {
    white-space: nowrap;
}
